.#*
*~
\#*
*.aux
/build/
.coverage
data/
*.db
/develop
/dist/
.DS_Store
*.egg
*.egg-info
/.emacs*
.in_virtualenv.py
*.lock
*.log
__MACOSX
/MANIFEST
*.out
*.pyc
README.html
README.txt
*.sqlite
*.sw*
.tox
